{% extends 'baselayout.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block main %}
    <h1>Rooms</h1>
    {% for room in rooms %}
    <div class="form-horizontal"><!-- <form>  -->

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Summary</label>
            <div class="col-sm-10">
                <div class="form-control form-control-plaintext">{{ room.summary }}</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label-lg">Description</label>
            <div class="col-sm-10">
                <div class="form-control form-control-plaintext form-control-lg">{{ room.description }}</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Capacity</label>
            <div class="col-sm-10">
                <div class="form-control form-control-plaintext">{{ room.capacity }}</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Superficy</label>
            <div class="col-sm-10">
                <div class="form-control form-control-plaintext">{{ room.superficy }}</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <div class="form-control form-control-plaintext">{{ room.price }}</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <div class="form-control form-control-plaintext">{{ room.address }}</div>
            </div>
        </div>

    </div><!-- form-horizontal </form>  -->
    {% endfor %}

    <a href="{{ path('region_list') }}">Back to list of regions</a>

{% endblock %}