{% extends 'baselayout.html.twig' %}

{% block title %}Region index{% endblock %}

{% block main %}
    <h1>Regions :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Presentation</th>
                <th>Country</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td> <a href="{{ path('region_show', {'id': region.id}) }}">{{ region.name }}</a></td>
                <td>{{ region.presentation }}</td>
                <td>{{ region.country }}</td>
                <td>
                    <a href="{{ path('region_show_list', {'id': region.id}) }}">rooms</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('region_new') }}">Create new</a>
    {% endif %}
{% endblock %}
